html.scroll-smooth(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./style.css")
    title Anilist Banner
  body.flex.w-96.items-center.flex-col
    if avatar
      img(src=avatar).w-48.border-2.border-violet-900.rounded-3xl.z-10.bg-gradient-to-r.from-violet-500.to-fuchsia-500
    div(class=avatarDiv)
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quis voluptatum, voluptate ipsam explicabo autem minima sunt nisi recusandae, assumenda dicta corrupti, accusamus nam laboriosam ab amet perferendis? Ipsa, quos.
